<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="['/','places','tabs','offers',place.id]">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Edit Experience</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align:center;">
  <form [formGroup]="form">
    <ion-grid>
      <ion-row>
        <ion-col size="9" offset="1">
          <ion-item>
            <ion-label position="floating">Edit Title</ion-label>
            <ion-input type="text" formControlName="title"> </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="9" offset="1">
          <ion-item>
            <ion-label position="floating">Edit Description</ion-label>
            <ion-textarea rows="4" formControlName="description"> </ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-row padding>
      <ion-col size="4" offset="4">
          <ion-button (click)="onEdit()" size="block">Edit</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
