<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons >
    <ion-title>My Experiences</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-lg="8" offset-lg='2'>

        <ion-list *ngFor="let booking of loadedBookings">
            <ion-item>
              <ion-label>
                <h5>{{booking.placeTitle}}</h5>
                <p>Number Of Guests : {{booking.guestNumber}}</p>
              </ion-label>
            </ion-item>
        </ion-list>

      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
