<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/tabs/offers">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Experience Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align:center">
  <ion-grid>
    <ion-row>
      <ion-col size="6" offset="3" style="text-align:center">
        <h3>{{place.title}}</h3>
        <ion-img [src]="place.imageUrl" ></ion-img>
        <p> {{place.description}} </p>
      </ion-col>
    </ion-row>
    <ion-button [routerLink]="['/','places','tabs','offers','edit',place.id]">Edit Experience <ion-icon name="create" style="margin-left:10px!important;"></ion-icon></ion-button>
  </ion-grid>
</ion-content>
